@import "~colors";

.Field {
  position: relative;
  display: flex;

  > .Label {
    position: absolute;
    top: 22px;
    right: 100%;
    margin-right: 16px;
    white-space: nowrap;
  }

  &.focused > .Label {
    color: @manatee;

    .dark-bg & {
      color: @gray;
    }
  }

  > :not(.Label) {
    flex: auto;
  }
}
