{

  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "> 2%"]
      },
      "modules": false,
      "loose": true
    }]
  ],

  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ]

}
